[submodule "Universal-Electricity"]
	path = Universal-Electricity
	url = git://github.com/calclavia/Universal-Electricity
[submodule "Basic-Components"]
	path = Basic-Components
	url = https://github.com/calclavia/Basic-Components
