*.bat
*.sh
/*/
LICENSE.txt
CHANGELOG

ElectricExpansion
*.exe

!/src/
/src/minecraft/*
!/src/minecraft/electricexpansion/
!/src/minecraft/dan200/
!/src/minecraft/universalelectricity/
!/src/minecraft/ic2/
!/include.bat
/src/minecraft/electricexpansion/language
/src/minecraft/electricexpansion/textures

!/resources/
!/modversion.txt
!/publish.bat
!/README.md