*.bat
*.sh
*.log
*.db
*.iml
*.lnk
*.exe

/bin/*
/conf/*
/docs/*
/eclipse/*
/forge/*
/jars/*
/lib/*
/logs/*
/modsrc/*
/reobf/*
/runtime/*
/temp/*
/builds/*
/CHANGELOG
/LICENSE.txt
!/info.txt
!/buildnumber.txt


/src/minecraft/*
/src/common/*
/src/resources/*
!/src/minecraft/electricexpansion/
!/src/minecraft/universalelectricity/
!/src/minecraft/dan200/
!/mcmod.info
!/modversion.txt
!/include.bat
!/README
!/resources/
!/misc/

/src/minecraft/electricexpansion/language
/src/minecraft/electricexpansion/textures
