/bin/*
/conf/*
/docs/*
/eclipse/*
/forge/*
/jars/*
/lib/*
/logs/*
/modsrc/*
/reobf/*
/runtime/*
/temp/*
/builds/*
CHANGELOG
LICENSE.txt
info.txt
buildnumber.txt


/src/minecraft/*
/src/common/*
/src/resources/*
!/src/common/electricexpansion/
!/src/minecraft/electricexpansion/
!/mcmod.info
!/modversion.txt
!/textures
!/README
!/misc, not for compilation or distribution/


*.bat
*.sh
*.log
*.db
*.iml
